body {
    background: beige;
    font-family: Arial, Helvetica, sans-serif;
}

.assignment {
    display:flex;
    padding:10px;
    margin:10px;
    background: darkgray;
}

.assignment img {
    max-width: 200px;
    max-height: 200px;
    padding:10px;
}

h1 {
    color: black;
    text-align: center;
}
